<a [routerLink]="['/shipto']">Ship To</a>
<h1>Order Details</h1>
<hr>
<ul>
    <li><b>Name: </b>{{ orderDetails.name }}</li>
    <li><b>Address 1: </b>{{ orderDetails.address1 }}</li>
    <li><b>Address 2: </b>{{ orderDetails.address2 }}</li>
    <li><b>City: </b>{{ orderDetails.city }}</li>
    <li><b>Province: </b>{{ orderDetails.prov }}</li>
    <li><b>Zip: </b>{{ orderDetails.zip }}</li>
    <li><b>Instructions: </b>{{ orderDetails.instructions }}</li>
</ul>
<ul>
    <li *ngFor="let item of cartDetails">
        <b>ID:  </b>{{item.id}}
    <br>
        <b>Qty:  </b>{{item.qty}}<br>
        <b>Unit Price:  </b>{{ item.price }}
        <br>   
        <b>Extended Price:  </b>{{ item.qty * item.price }}       
        <br>            
        <br>            
    </li>    
</ul>
<h5 >Total Price: {{ totalPrice }}</h5>
<br>
<button (click)="router.navigateByUrl('/catalog')">Continue Shopping</button>
<button (click)="router.navigateByUrl('/end')">Checkout</button>