<button><a [routerLink]="['/shipto']"[queryParams]="{viewUrl: '/cart?item='}">Ship To</a></button>
<h1>Cart</h1>
<hr>
<ol>
    <li *ngFor="let item of cart">
        <b>ID - </b>{{ item.id }}
        <br>
        <b>Price - </b>{{ item.price }}
        <br>      
        <b>Qty - </b>{{ item.qty }}
        <br> 
        <button (click)="changeQty(item, '+')">+</button>
        <button (click)="changeQty(item, '-')">-</button>
        <br>
        <br>
        <br>
    </li>
</ol>
<button (click)="goTo()"  class="btn btn-primary" >Checkout</button> 
<br>
<button><a [routerLink]="['/product']"[queryParams]="{id: id}">Back</a></button>